* {
  margin: 0;
  padding: 0;
}
body {
  background: #222;
  color: beige;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.crud {
  width: 80%;
  margin: auto;
}
.head {
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0;
}
input {
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  background: #111;
  color: beige;
  margin: 10px 0;
  border-radius: 4px;
  padding: 4px;
  transition: 0.1s;
}
input:focus {
  background: #000;
  transform: scale(1.02);
  letter-spacing: 1px;
}
.price input {
  width: 20%;
}
#total {
  background: rgba(67, 3, 187, 0.946);
  padding: 4px 4px;
  border-radius: 4px;
}
#total::before {
  content: "Total:";
}
button {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 10px;
  background: rgba(67, 3, 187, 0.946);
  color: beige;
  transition: 0.2s;
}
button:hover {
  background: rgba(90, 5, 247, 0.946);
  letter-spacing: 0.5px;
  transform: scale(1.02);
}
.btnSearch {
  display: flex;
  justify-content: space-between;
}
.btnSearch button {
  width: 45%;
}
table {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}
table th {
  text-transform: uppercase;
}
th,td{
  padding: 5px;
}
